@CHARSET "ISO-8859-1";

/* player colors */

#playerColors div {
	width: 40px;
	height: 20px;
}

div.player1 {
	background-color: red;
}

div.player2 {
	background-color: teal;
}

img.player1 {
	border: 1px solid red;
}

img.player2 {
	border: 1px solid teal;
}

/* game board */

#board {
	display: table;
	border: 1px solid black;
	border-collapse: true;
	margin: 20px auto;
}

.row {
	display: table-row;
}

.cell {
	display: table-cell;
	height: 100px;
	width: 100px;
	cursor: pointer;
	
	text-align: center;
	vertical-align: middle;
}

.contentImage {
	width: 90px;
	height: 90px;
	display: inline-block;
}

.grass {
	background-image: url("../images/backgrounds/grass.png");
}

.water {
	background-image: url("../images/backgrounds/water.png");
}

.trap {
	background-image: url("../images/backgrounds/trap.png");
}

.den {
	background-image: url("../images/backgrounds/den.png");
}